USE [RPDW_UAT_USR]
GO
/****** Object:  Table [dbo].[ETL_JOB_PARAMS_manualrun]    Script Date: 3/21/2022 11:17:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_JOB_PARAMS_manualrun](
	[JOB_PARAM_ID] [int] IDENTITY(1,1) NOT NULL,
	[JOB_NAME] [varchar](100) NOT NULL,
	[FILTER_CRITERIA] [varchar](100) NULL,
	[QUAL_TYPE_CRITERIA] [varchar](100) NULL,
	[FILTER_CRITERIA_NOTE] [varchar](1000) NULL,
	[QUAL_TYPE_CRITERIA_NOTE] [varchar](1000) NULL,
	[CREATED_ON] [datetime] NULL,
	[MODIFIED_ON] [datetime] NULL,
 CONSTRAINT [PK_ETL_JOB_PARAMS_MANUAL_RUN] PRIMARY KEY CLUSTERED 
(
	[JOB_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ETL_JOB_PARAMS_manualrun] ADD  DEFAULT (getdate()) FOR [CREATED_ON]
GO
ALTER TABLE [dbo].[ETL_JOB_PARAMS_manualrun] ADD  DEFAULT (getdate()) FOR [MODIFIED_ON]
GO
