USE [RPDW_PRD]
GO
/****** Object:  StoredProcedure [dbo].[DisplayJobStatus]    Script Date: 2/16/2022 2:20:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[DisplayJobStatus]
AS

IF OBJECT_ID(N'tempdb..#PSTGList') IS NOT NULL BEGIN DROP TABLE #PSTGList END


SELECT * INTO #PSTGList FROM(
    SELECT * FROM(SELECT *, ROW_NUMBER() OVER(PARTITION BY JOB_NAME ORDER BY PROCESSED_ON DESC) AS Rno FROM [dbo].ETL_JOB_STATUS) JOBSTATUS WHERE JOBSTATUS.Rno = 1 and STAGE = 'PSTG'
) PSTGList

SELECT 
        ISNULL(ISNULL(FREQUENCY_PHASE1.FREQUENCY,FREQUENCY_PHASE2.FREQUENCY),'NOT FOUND') FREQUENCY
       ,PSTG.JOB_NAME PSTG,PSTG.PROCESSED_ON,PSTG.JOB_STATUS 
       ,STG.JOB_NAME STG,STG.PROCESSED_ON,CASE WHEN PSTG.PROCESSED_ON > STG.PROCESSED_ON THEN 'NOT TRIGGERED' ELSE STG.JOB_STATUS END JOB_STATUS
	   ,DW.JOB_NAME DW, DW.PROCESSED_ON ,CASE WHEN PSTG.PROCESSED_ON > STG.PROCESSED_ON THEN 'NOT TRIGGERED' ELSE DW.JOB_STATUS END JOB_STATUS
	   ,DM.JOB_NAME DM, DM.PROCESSED_ON,CASE WHEN DW.PROCESSED_ON > DM.PROCESSED_ON THEN 'NOT TRIGGERED' ELSE DM.JOB_STATUS END JOB_STATUS
 FROM #PSTGList PSTG 
 LEFT JOIN (SELECT * FROM(SELECT *, ROW_NUMBER() OVER(PARTITION BY JOB_NAME ORDER BY PROCESSED_ON DESC) AS Rno FROM [dbo].ETL_JOB_STATUS) JOBSTATUS WHERE JOBSTATUS.Rno = 1 AND STAGE = 'STG') STG 
 ON PSTG.TARGET_TABLENAME = STG.SOURCE_FILENAME
  LEFT JOIN (SELECT * FROM(SELECT *, ROW_NUMBER() OVER(PARTITION BY JOB_NAME ORDER BY PROCESSED_ON DESC) AS Rno FROM [dbo].ETL_JOB_STATUS) JOBSTATUS WHERE JOBSTATUS.Rno = 1 AND STAGE = 'DW') DW 
 ON STG.TARGET_TABLENAME = DW.SOURCE_FILENAME
  LEFT JOIN (SELECT * FROM(SELECT *, ROW_NUMBER() OVER(PARTITION BY JOB_NAME ORDER BY PROCESSED_ON DESC) AS Rno FROM [dbo].ETL_JOB_STATUS) JOBSTATUS WHERE JOBSTATUS.Rno = 1 AND STAGE = 'DM') DM 
 ON DW.TARGET_TABLENAME = DM.SOURCE_FILENAME
 LEFT JOIN [dbo].[ETL_JOB_DEPENDENCY] DEPENDENCY
 ON PSTG.TARGET_TABLENAME = DEPENDENCY.PACKAGE_NAME

 LEFT JOIN [dbo].[ETL_JOB_FREQUENCY] FREQUENCY_PHASE1
 ON DEPENDENCY.FREQUENCY_ID = FREQUENCY_PHASE1.FREQUENCY_ID
 LEFT JOIN [RPDW_PRD_STG].[dbo].ETL_JOB_CONFIG_STG CONFIG_STG
 ON PSTG.TARGET_TABLENAME = CONFIG_STG.SOURCE_TABLENAME
 LEFT JOIN [dbo].[ETL_JOB_FREQUENCY] FREQUENCY_PHASE2
 ON CONFIG_STG.FREQUENCY = FREQUENCY_PHASE2.FREQUENCY_ID
 order by FREQUENCY DESC
